.main-header {
  width: 100%;
  background-color: #323e4c;
}
.header-logo {
  padding: 10px 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  /* justify-content: center; */
}
